﻿.MainHeading {
    
    font-size: 16pt;
    font-weight: bold;
    color: navy;
    text-decoration-line: underline;
    font-family:Cambria;
}

.SideHeading {
    font-weight: bold;
    color: navy;
    background-color: #e3e7ed;
    font-size: 10pt;
}

.Note {
    background-color:#e3e7ed;
    color: navy;
    font-weight:bold;
     padding:5px 5px 5px 5px;
}
